.Main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:10px;
    height: 100vh;
    width: 100vw;
}

.Sub-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:30px

}

.ReviewItem {
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
}

.ReviewItemInternal {
    height: 100px;
    width: 180px;
}

.ReviewContent {
    overflow:scroll;
    height: 100px;
    width: 300px;
}

.New-Review {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:10px
}